
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font: 12px/18px Arial, Helvetica, sans-serif;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
    /*background: url(../images/body.jpg) no-repeat top center;*/
    color: #6b6b6b;
}

ul {
    padding: 0;
    margin: 0;
}

 li {
    list-style: none;
 }

img {
    border:none;
}

a {
    text-decoration: none;
    color:black;
 }

h2 {
    color: #015295;
    font-size: 12px;
}

h3 {
    color: #ee7b0b;
    font-size: 12px;
    font-weight: bold;
}
h4, h1 {
    margin: 0;
    padding: 0;
    font-weight:normal;
}

select {
    border: 1px solid #dfdfdf;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 3px;
}

.form {
    width: 878px;
    height: 639px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #a5a5a5;
    position: relative;
    top:155px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: #b0b0b0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#b0b0b0));
    background-image: -webkit-linear-gradient(top, #ffffff, #b0b0b0);
    background-image:    -moz-linear-gradient(top, #ffffff, #b0b0b0);
    background-image:     -ms-linear-gradient(top, #ffffff, #b0b0b0);
    background-image:      -o-linear-gradient(top, #ffffff, #b0b0b0);
}

.form_inside {
    padding: 80px;
}

.progr {
    float:left;
}

.progress, .progress-wrapper {
    background: url(../images/progress.png) no-repeat left;
    background-size: 0% 100%;
    height: 15px;
    width: 520px;
    margin: 0 auto;
    margin-top: -25px;
    border-radius: 10px;
}

.progress-wrapper {
    margin-bottom: 65px;
    background: none;
    background-color: #b0b0b0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0b0b0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #b0b0b0, #ffffff);
    background-image:    -moz-linear-gradient(top, #b0b0b0, #ffffff);
    background-image:     -ms-linear-gradient(top, #b0b0b0, #ffffff);
    background-image:      -o-linear-gradient(top, #b0b0b0, #ffffff);
}

.progress-wrapper p {
    text-align: center;
}

/*******/

.form_inside dl {
    height: 351px;
    overflow: hidden;
}

.form_inside dl dt {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 40px;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans';
    text-shadow: 0 1px 1px white;
    tabi
}

.form_inside dl dd {
    margin-bottom: 20px;
}

.form_inside dl dd select, .form_inside dl dd input[type='text'] {
    display: block;
    height: 34px;
    width: 250px;
    padding: 0;
    border-radius: 5px;
    background: #f0f0f0;
    box-shadow: inset 1px 1px 1px #6c6c6c, 1px 1px 1px white;
    margin: 0 auto;
}

.form_inside dl dd input[type='text'] {
    height: 30px;
}

.nextBtn {
    background: url(../images/button.jpg) repeat-x center;
    top: 2px;
    left: 6px;
    width: 197px;
    padding: 10px 0 10px 0px;
    margin: 0 36%;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: Open Sans;
    text-shadow: 0 1px 1px white;
}

.nextBtn:hover {
    background: url(../images/button_h.jpg) repeat-x center;
    cursor: pointer;
}

.nextBtn img {
    margin: -5px 0 0 5px;
    vertical-align: middle;
}

.prevQuest {
    visibility: hidden;
    width: 26px;
    height: 39px;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    background: url(../images/left.png) no-repeat;
    margin: -260px 30px 0 0;
    cursor: pointer;
}

.complForm {
    display: none;
}

.complForm select, .complForm label, .complForm span {
    float: left;
}

.complForm input[type='text'], .complForm select, .complForm input[type='submit'] {
    clear: left;
    height: 34px;
    display: block;
    height: 34px;
    width: 250px;
    border-radius: 5px;
}

.complForm div input[type='text'], .complForm div select, .complForm div input[type='submit'] {
    background: #fff !important;
}

.complForm input[type='text'], .complForm input[type='submit'] {
    height: 30px;
}

.complForm input[type='submit'] {
    margin: 0 auto;
}

.complForm select {
    margin-top: 1px;
}

.resBlock {
    float: left;
    height: 67px;
    width: 254px;
    margin: 10px;
}

.complForm h2 {
    text-align: center;
    font-size: 30px;
}

.complForm > input[type='text'] {
    margin: 0 auto;
}

.finishBtn {
    background: url(../images/button.jpg) repeat-x center;
}

.radio-block {
    margin: 0 auto;
    width: 110px;
    height: 50px;
}

.radio-block label {
    font-size: 20px;
}

dl dd {
    min-height: 34px;
}

.radio-block {
    height: 34px;
    margin-bottom: 20px;
}

dd div > select, dd div > input[type='text']{
    margin: 0 auto !important;
}